<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.admin.wobeassignment">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".ApplicationLoader"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service
            android:name="com.clevertap.android.sdk.FcmTokenListenerService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>

        <service
            android:name="com.clevertap.android.sdk.FcmMessageListenerService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <activity
            android:name=".activities.SplashScreenActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.clevertap.android.sdk.InAppNotificationActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="orientation|keyboardHidden"/>

        <meta-data
            android:name="CLEVERTAP_INAPP_EXCLUDE"
            android:value="YourSplashActivity1, YourSplashActivity2" />
        <meta-data
            android:name="CLEVERTAP_NOTIFICATION_ICON"
            android:value="ic_stat_red_star"/>
        <meta-data android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>

        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.OnBoardingViewPagerActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activities.LoginActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activities.RegisterActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activities.DashboardActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".activities.SendCreditsActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activities.PasscodeActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activities.ProfileActivity"
            android:screenOrientation="portrait" />
        <receiver android:name=".utilities.WobeAlarm" android:exported="true"/>
        <receiver
            android:name="com.clevertap.android.sdk.InstallReferrerBroadcastReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER"/>
            </intent-filter>
        </receiver>
        <meta-data
            android:name="CLEVERTAP_ACCOUNT_ID"
            android:value="R8R-56W-8W5Z"/>
        <meta-data
            android:name="CLEVERTAP_TOKEN"
            android:value="065-2b2"/>

    </application>

</manifest>